class rv_dsa_sequencer extends uvm_sequencer #(rv_dsa_item);
  `uvm_component_utils(rv_dsa_sequencer)
  function new(string name,uvm_component parent); super.new(name,parent); endfunction
endclass
