class ts_sequencer extends uvm_sequencer #(ts_item);
  `uvm_component_utils(ts_sequencer)
  function new(string name,uvm_component parent); super.new(name,parent); endfunction
endclass
